<div cdkDropListGroup>
  <!-- Contenedor para equipos no asignados -->
  <div class="unnasigned-container rootFlexSC rootFlexCol elevation-z8">
    <h2>Unassigned</h2>
    <div cdkDropList [cdkDropListData]="unassignedUnits" class="unnasigned-drag rootFlexCol rootFlexSC  elevation-z3"
      (cdkDropListDropped)="drop($event)">
      <div class="cont1 rootFlexSC rootFlexCol">
        <h3>Configuration</h3>
        <mat-form-field appearance="outline">
          <mat-label>Maximum bracket size</mat-label>
          <input matInput type="number" [(ngModel)]="maxTeamsPerBracket" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Teams</mat-label>
          <input matInput type="number" [(ngModel)]="numberOfTeams" />
          <mat-hint> Number of teams </mat-hint>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="test(numberOfTeams, maxTeamsPerBracket)">
          Generar Brackets
        </button>
      </div>
      @for (teamUnit of unassignedUnits; track $index) {
      <div class="unitCard elevation-z5 rootFlexCC" [ngStyle]="{ 'background-image': returnImage(teamUnit.teamUnitId) }"
        cdkDrag>
        <div class="whiteB rootFlexSaC">
          <div class="logoCont rootFlexCC">
            <img [src]="teamUnit.teamLogoUrl | teamLogo | async" />
          </div>
          <div class="infoCont">
            <h3 class="teamName">
              {{ teamUnit.teamName }}&nbsp; ( {{ teamUnit.teamAbbreviation }} )
            </h3>
            <h2 class="teamName teamUnitName rootFlexSaC">
              {{ teamUnit.teamUnitName
              }}<span class="rootFlexCC"><mat-icon>group</mat-icon>{{ teamUnit.participantIds?.length }}</span>
            </h2>
          </div>
        </div>
      </div>
      }
    </div>
  </div>

  <!-- Sección de configuración de brackets -->
  <div class="setContainer  rootFlexSC rootFlexCol elevation-z5">
    <h2>Brackets</h2>

    <!-- Sección de contenedores de brackets generados dinámicamente -->
    <div class="brackets-container rootFlexSS rootFlexCol">

      @for (bracketGroup of bracketConts; track $index) {
      <div class="bracket-group">
        <h3>Grupo {{$index + 1}} ({{bracketGroup.length}} equipos)</h3>
        <div cdkDropList [cdkDropListData]="getBracketTeams($index)" class="example-list bracket-list"
          (cdkDropListDropped)="dropInBracket($event, $index)">
          @for (teamUnit of getBracketTeams($index); track $index) {
          <div class="unitCard elevation-z5 rootFlexCC"
            [ngStyle]="{ 'background-image': returnImage(teamUnit.teamUnitId) }" cdkDrag>
            <div class="whiteB rootFlexSaC">
              <div class="logoCont rootFlexCC">
                <img [src]="teamUnit.teamLogoUrl | teamLogo | async" />
              </div>
              <div class="infoCont">
                <h3 class="teamName">
                  {{ teamUnit.teamName }}&nbsp; ( {{ teamUnit.teamAbbreviation }} )
                </h3>
                <h2 class="teamName teamUnitName rootFlexSaC">
                  {{ teamUnit.teamUnitName
                  }}<span class="rootFlexCC"><mat-icon>group</mat-icon>{{ teamUnit.participantIds?.length }}</span>
                </h2>
              </div>
            </div>
          </div>
          }
          <!-- Placeholder para mostrar espacios vacíos en el grupo -->
          @for (empty of getEmptySlots($index); track $index) {
          <div class="empty-slot">
            <p>Arrastra un equipo aquí</p>
          </div>
          }
        </div>
      </div>
      }
    </div>


  </div>
</div>